name: Coder AWS provisioning/deprovisioning

# This is partially functional code to prevent huge PRs that are difficult to review.

on:
  issue_comment:
    types: [created]
  pull_request:
    types: [closed]

permissions:
  id-token: write
  contents: read

jobs:
  provision:
    runs-on: ubuntu-latest

    if: |
      (
        github.event_name == 'issue_comment'
        && github.event.issue.pull_request
        && contains(github.event.comment.body, '/coder-provision')
        && github.event.comment.user.type != 'Bot'
      )

    steps:
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ github.ref_name }}
    - run: export
      env:
        GITHUB_REF: ${{ github.ref }}
